In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('house_data.csv')
data.head(10)

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Location,Price
0,1340,3,1.00,3,1955,Bangalore,221900.0
1,1690,3,2.25,3,1951,Bangalore,538000.0
2,2720,2,1.00,3,1933,Bangalore,180000.0
3,1360,4,3.00,5,1965,Bangalore,604000.0
4,1800,3,2.00,3,1987,Bangalore,510000.0
5,4760,4,4.50,3,2001,Bangalore,1230000.0
6,2238,3,2.25,3,1995,Bangalore,257500.0
7,1650,3,1.50,3,1963,Bangalore,291850.0
8,1780,3,1.00,3,1960,Bangalore,229500.0
9,2390,3,2.50,3,2003,Bangalore,323000.0

In [3]:
data.shape

(1199, 7)

In [4]:
data['No_Of_Bathrooms']=data.No_Of_Bathrooms.apply(np.ceil)

In [5]:
data.head(10)

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Location,Price
0,1340,3,1.0,3,1955,Bangalore,221900.0
1,1690,3,3.0,3,1951,Bangalore,538000.0
2,2720,2,1.0,3,1933,Bangalore,180000.0
3,1360,4,3.0,5,1965,Bangalore,604000.0
4,1800,3,2.0,3,1987,Bangalore,510000.0
5,4760,4,5.0,3,2001,Bangalore,1230000.0
6,2238,3,3.0,3,1995,Bangalore,257500.0
7,1650,3,2.0,3,1963,Bangalore,291850.0
8,1780,3,1.0,3,1960,Bangalore,229500.0
9,2390,3,3.0,3,2003,Bangalore,323000.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Living_Space(sqft)        1199 non-null   int64
 1   No_Of_Bedrooms            1199 non-null   int64
 2   No_Of_Bathrooms           1199 non-null   float64
 3   Condition(on scale of 5)  1199 non-null   int64
 4   Year_Build                1199 non-null   int64
 5   Location                  1199 non-null   object
 6   Price                     1199 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 65.7+ KB

In [7]:
data.Location.value_counts()

Patna        274
Kolkata      232
Chennai      230
lucknow      205
New Delhi    173
Mumbai        63
Bangalore     22
Name: Location, dtype: int64

In [8]:
patna_percentage=((274/1199) *100)
print("% distribution of Patna in Entire Data Set",patna_percentage)

% distribution of Patna in Entire Data Set 22.85237698081735

In [9]:
num_cat=pd.get_dummies(data.Location)

In [10]:
num_cat

      Bangalore  Chennai  Kolkata  Mumbai  New Delhi  Patna  lucknow
0             1        0        0       0          0      0        0
1             1        0        0       0          0      0        0
2             1        0        0       0          0      0        0
3             1        0        0       0          0      0        0
4             1        0        0       0          0      0        0
...         ...      ...      ...     ...        ...    ...      ...
1194          0        0        0       0          0      0        1
1195          0        0        0       0          0      0        1
1196          0        0        0       0          0      0        1
1197          0        0        0       0          0      0        1
1198          0        0        0       0          0      0        1

[1199 rows x 7 columns]

In [11]:
final_data=pd.concat([data,num_cat],axis=1)
final_data.head()

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Location,Price,Bangalore,Chennai,Kolkata,Mumbai,New Delhi,Patna,lucknow
0,1340,3,1.0,3,1955,Bangalore,221900.0,1,0,0,0,0,0,0
1,1690,3,3.0,3,1951,Bangalore,538000.0,1,0,0,0,0,0,0
2,2720,2,1.0,3,1933,Bangalore,180000.0,1,0,0,0,0,0,0
3,1360,4,3.0,5,1965,Bangalore,604000.0,1,0,0,0,0,0,0
4,1800,3,2.0,3,1987,Bangalore,510000.0,1,0,0,0,0,0,0

In [12]:
final_data.shape

(1199, 14)

In [13]:
final_data=final_data.drop(['Location','Chennai'],axis=1)

In [14]:
final_data.shape

(1199, 12)

In [15]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Living_Space(sqft)        1199 non-null   int64
 1   No_Of_Bedrooms            1199 non-null   int64
 2   No_Of_Bathrooms           1199 non-null   float64
 3   Condition(on scale of 5)  1199 non-null   int64
 4   Year_Build                1199 non-null   int64
 5   Price                     1199 non-null   float64
 6   Bangalore                 1199 non-null   uint8
 7   Kolkata                   1199 non-null   uint8
 8   Mumbai                    1199 non-null   uint8
 9   New Delhi                 1199 non-null   uint8
 10  Patna                     1199 non-null   uint8
 11  lucknow                   1199 non-null   uint8
dtypes: float64(2), int64(4), uint8(6)
memory usage: 63.4 KB

In [16]:
import seaborn as sns 
corr=final_data.corr()
#sns.heatmap(corr,annot=True)
corr

,Living_Space(sqft),No_Of_Bedrooms,No_Of_Bathrooms,Condition(on scale of 5),Year_Build,Price,Bangalore,Kolkata,Mumbai,New Delhi,Patna,lucknow
Living_Space(sqft),1.000000,0.400941,0.607499,-0.063276,0.359392,0.624774,-0.002718,-0.006366,0.010671,-0.040604,-0.014120,-0.030345
No_Of_Bedrooms,0.400941,1.000000,0.493991,0.053616,0.151163,0.306978,-0.026767,-0.013738,0.037967,-0.021548,0.008144,-0.005485
No_Of_Bathrooms,0.607499,0.493991,1.000000,-0.081290,0.540801,0.479508,-0.040285,0.011148,-0.002443,-0.018400,-0.015883,-0.011020
Condition(on scale of 5),-0.063276,0.053616,-0.081290,1.000000,-0.301440,0.051807,-0.011923,0.016229,-0.013829,-0.007252,0.027800,0.009433
Year_Build,0.359392,0.151163,0.540801,-0.301440,1.000000,0.044543,-0.043010,-0.041641,-0.003630,0.011002,0.017624,-0.029414
Price,0.624774,0.306978,0.479508,0.051807,0.044543,1.000000,-0.007434,0.009279,0.008865,-0.018532,-0.020695,0.010995
Bangalore,-0.002718,-0.026767,-0.040285,-0.011923,-0.043010,-0.007434,1.000000,-0.066966,-0.032196,-0.056140,-0.074409,-0.062088
Kolkata,-0.006366,-0.013738,0.011148,0.016229,-0.041641,0.009279,-0.066966,1.000000,-0.115348,-0.201132,-0.266585,-0.222441
Mumbai,0.010671,0.037967,-0.002443,-0.013829,-0.003630,0.008865,-0.032196,-0.115348,1.000000,-0.096701,-0.128170,-0.106946
New Delhi,-0.040604,-0.021548,-0.018400,-0.007252,0.011002,-0.018532,-0.056140,-0.201132,-0.096701,1.000000,-0.223488,-0.186480
Patna,-0.014120,0.008144,-0.015883,0.027800,0.017624,-0.020695,-0.074409,-0.266585,-0.128170,-0.223488,1.000000,-0.247166
lucknow,-0.030345,-0.005485,-0.011020,0.009433,-0.029414,0.010995,-0.062088,-0.222441,-0.106946,-0.186480,-0.247166,1.000000

In [17]:
x=final_data.drop(['Price'],axis=1)#
y=final_data['Price']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [19]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [20]:
y_pred=model.predict(x_test)

In [21]:
y_pred

array([ 859900.,  205000.,  650000.,  330000.,  429950.,  588000.,
        522000.,  315000.,  479950.,  329999.,  305000.,  338900.,
        525000.,  385000.,  425000.,  269950.,  437500., 1280000.,
        280000.,  242000., 1570000.,  595000.,  468000.,  785000.,
        810000.,  450000.,  940000.,  577000.,  290000.,  450000.,
        342000.,  324000.,  375000.,  166600.,  790000.,  480000.,
        660000.,  722500.,  540000.,  980000.,  331000.,  234000.,
        265000.,  825000.,  405000.,  460000.,  505000.,  450000.,
        375000.,  315000.,  166600.,  390000.,  397500.,  265000.,
        130000.,  496500.,  429950.,  480000.,  350900.,  625504.,
        980000.,  525000.,  484950.,  378000.,  566000.,  309600.,
        365500.,  505000.,  576000.,  525000.,  910000.,  420000.,
        209000., 1280000.,  220000.,  385000.,  655000.,  560000.,
        695000.,  397500.,  260000.,  850000.,  379000.,  470000.,
       1350000.,  243500.,  662500., 3080000.,  445000.,  565000.,
        530000.,  272500., 3080000.,  275000.,  329999.,  265000.,
        705000.,  543115.,  560000.,  940000.,  445838.,  475000.,
        640000.,  740000.,  784000.,  609900.,  438000.,  790000.,
        240000.,  902000.,  180250.,  610000.,  445000.,  188000.,
        290000.,  269900.,  538200.,  985000.,  210000.,  340000.,
        565000.,  550000.,  204000., 1490000.,  485000.,  553500.,
        650000.,  535800.,  200000.,  265000.,  475000., 2000000.,
        467000.,  315000.,  329500.,  175000.,  400000.,  285000.,
        461000.,  431650.,  980000.,  348000.,  242000.,  475000.,
        975000.,  285167.,  235000.,  233000.,  480000.,  363000.,
        267000.,  190000.,  768000.,  200000.,  655000.,  355000.,
        470000.,  915000.,  355000.,  305000.,  851000.,  480000.,
        600000.,  460000.,  385000.,  880000.,  391500.,  375000.,
        880000.,  396000.,  300000.,  225000.,  518500.,  695000.,
        280000., 1280000.,  365500.,  378000.,  396000.,  720000.,
       2250000.,  624000.,  505000.,  389999.,  660500., 1000000.,
        930000.,   80000.,  475000., 1100000.,  937000.,  269900.,
        270000.,  181000.,  305000.,  260000.,  550000.,  300000.,
        942500.,  438000., 1450000.,  538200.,  557000.,  515000.,
        577000.,  725000., 1100000.,  930000.,  450000.,  375000.,
        522000.,  460000.,  370000.,  173000., 3080000.,  699000.,
        890000.,  223000.,  214000.,  369000.,  380000.,  340500.,
       1570000., 1350000.,  233000.,  250000.,  405000.,  570000.,
        460000.,  300000.,  207950.,  551000.,  355000.,  665000.,
        496500.,  425000.,  342000.,  470000.,  370000.,  330000.])

In [22]:
y_test

375      730000.0
1024     446450.0
218     1070000.0
194      230000.0
1198     277000.0
          ...
51       345000.0
993      253000.0
32       687500.0
287      405000.0
149      511000.0
Name: Price, Length: 240, dtype: float64

In [23]:
model.score(x,y)

0.7949555296804826

In [24]:
from sklearn.ensemble import RandomForestRegressor
model_rfc=RandomForestRegressor(n_estimators=10)
model_rfc.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10)

In [25]:
y_pred_rfc=model_rfc.predict(x_test)

In [26]:
y_pred

array([ 859900.,  205000.,  650000.,  330000.,  429950.,  588000.,
        522000.,  315000.,  479950.,  329999.,  305000.,  338900.,
        525000.,  385000.,  425000.,  269950.,  437500., 1280000.,
        280000.,  242000., 1570000.,  595000.,  468000.,  785000.,
        810000.,  450000.,  940000.,  577000.,  290000.,  450000.,
        342000.,  324000.,  375000.,  166600.,  790000.,  480000.,
        660000.,  722500.,  540000.,  980000.,  331000.,  234000.,
        265000.,  825000.,  405000.,  460000.,  505000.,  450000.,
        375000.,  315000.,  166600.,  390000.,  397500.,  265000.,
        130000.,  496500.,  429950.,  480000.,  350900.,  625504.,
        980000.,  525000.,  484950.,  378000.,  566000.,  309600.,
        365500.,  505000.,  576000.,  525000.,  910000.,  420000.,
        209000., 1280000.,  220000.,  385000.,  655000.,  560000.,
        695000.,  397500.,  260000.,  850000.,  379000.,  470000.,
       1350000.,  243500.,  662500., 3080000.,  445000.,  565000.,
        530000.,  272500., 3080000.,  275000.,  329999.,  265000.,
        705000.,  543115.,  560000.,  940000.,  445838.,  475000.,
        640000.,  740000.,  784000.,  609900.,  438000.,  790000.,
        240000.,  902000.,  180250.,  610000.,  445000.,  188000.,
        290000.,  269900.,  538200.,  985000.,  210000.,  340000.,
        565000.,  550000.,  204000., 1490000.,  485000.,  553500.,
        650000.,  535800.,  200000.,  265000.,  475000., 2000000.,
        467000.,  315000.,  329500.,  175000.,  400000.,  285000.,
        461000.,  431650.,  980000.,  348000.,  242000.,  475000.,
        975000.,  285167.,  235000.,  233000.,  480000.,  363000.,
        267000.,  190000.,  768000.,  200000.,  655000.,  355000.,
        470000.,  915000.,  355000.,  305000.,  851000.,  480000.,
        600000.,  460000.,  385000.,  880000.,  391500.,  375000.,
        880000.,  396000.,  300000.,  225000.,  518500.,  695000.,
        280000., 1280000.,  365500.,  378000.,  396000.,  720000.,
       2250000.,  624000.,  505000.,  389999.,  660500., 1000000.,
        930000.,   80000.,  475000., 1100000.,  937000.,  269900.,
        270000.,  181000.,  305000.,  260000.,  550000.,  300000.,
        942500.,  438000., 1450000.,  538200.,  557000.,  515000.,
        577000.,  725000., 1100000.,  930000.,  450000.,  375000.,
        522000.,  460000.,  370000.,  173000., 3080000.,  699000.,
        890000.,  223000.,  214000.,  369000.,  380000.,  340500.,
       1570000., 1350000.,  233000.,  250000.,  405000.,  570000.,
        460000.,  300000.,  207950.,  551000.,  355000.,  665000.,
        496500.,  425000.,  342000.,  470000.,  370000.,  330000.])

In [27]:
y_test

375      730000.0
1024     446450.0
218     1070000.0
194      230000.0
1198     277000.0
          ...
51       345000.0
993      253000.0
32       687500.0
287      405000.0
149      511000.0
Name: Price, Length: 240, dtype: float64

In [28]:
model_rfc.score(x,y)

0.8612318735929686

In [29]:
from sklearn.neighbors import KNeighborsRegressor
model_KNN=KNeighborsRegressor(n_neighbors=9,metric="minkowski",p=2)
model_KNN.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=9)

In [30]:
y_pred_KNN=model_KNN.predict(x_test)

In [31]:
y_pred_KNN

array([1565666.66666667,  293499.88888889,  684566.66666667,
        442216.66666667,  229555.44444444,  379905.55555556,
        333772.22222222,  348666.66666667,  352838.88888889,
        293499.88888889,  373016.66666667,  505888.88888889,
        506944.44444444,  370444.44444444,  385708.66666667,
        357555.44444444,  560327.77777778, 1358766.66666667,
        376238.88888889,  329161.11111111, 1627222.22222222,
        448183.66666667,  396623.88888889,  574011.11111111,
       1525211.11111111,  425027.77777778,  507805.55555556,
        363333.33333333,  342461.44444444,  481071.66666667,
        363444.44444444,  383588.88888889,  455416.66666667,
        253300.        ,  759888.88888889,  551833.33333333,
        723288.88888889,  730441.66666667,  380250.        ,
        469377.66666667,  442666.55555556,  301833.33333333,
        363333.33333333,  579888.77777778,  427104.44444444,
        364322.22222222, 1143555.55555556,  479055.        ,
        438459.77777778,  562288.88888889,  266141.11111111,
        572500.        ,  667000.        ,  360727.77777778,
        359327.66666667,  635588.88888889,  378833.22222222,
        630666.66666667,  484377.77777778,  379164.88888889,
        562500.        ,  538033.33333333,  403911.11111111,
        279604.44444444,  618240.77777778,  361994.44444444,
        301555.55555556,  419044.44444444,  542777.77777778,
        544166.66666667, 1450555.55555556,  470055.55555556,
        363087.55555556,  905277.77777778,  394216.66666667,
        302888.88888889,  652222.22222222,  469388.88888889,
        547888.88888889,  903622.22222222,  483265.33333333,
        445500.        ,  364744.44444444,  307233.33333333,
        813722.22222222,  421450.        ,  548611.11111111,
       1450555.55555556,  479444.44444444,  664488.88888889,
        524716.66666667,  344333.33333333, 1343611.11111111,
        398077.77777778,  258499.88888889,  354333.33333333,
        481388.88888889,  358923.88888889,  524333.33333333,
        502805.55555556,  363087.55555556,  424688.88888889,
        492888.88888889,  457222.22222222,  669444.44444444,
       1002500.        ,  341144.44444444,  734888.88888889,
        304103.11111111,  840088.88888889,  380572.22222222,
        516444.44444444,  767000.        ,  416000.        ,
        330272.22222222,  307177.77777778,  393716.66666667,
       1343611.11111111,  337016.66666667,  260148.88888889,
        711193.44444444,  289544.44444444,  329789.22222222,
        618240.77777778,  591611.11111111,  327416.66666667,
        535544.33333333,  398422.11111111,  411373.88888889,
        410933.33333333,  426648.66666667, 1477777.77777778,
        516777.77777778,  391822.22222222,  424566.66666667,
        280900.        ,  325238.88888889,  507999.44444444,
        386088.88888889,  268966.66666667,  498888.88888889,
        390259.22222222,  369550.        ,  487043.11111111,
        617400.        ,  500240.77777778,  410933.33333333,
        355549.88888889, 1134665.55555556,  662222.22222222,
        361438.88888889,  400150.        ,  980663.88888889,
        295905.55555556,  630166.66666667,  333033.33333333,
        398494.44444444,  542166.66666667,  427222.22222222,
        283066.66666667,  711193.44444444,  542777.77777778,
        374000.        ,  321417.55555556,  331550.        ,
        408785.55555556,  322777.77777778,  578629.66666667,
        408277.77777778,  512665.55555556,  380405.55555556,
        239155.55555556,  335476.44444444,  527155.55555556,
        448111.11111111, 1027055.55555556,  305638.88888889,
        468988.88888889,  330234.22222222,  555666.66666667,
        775200.        , 1565666.66666667,  440391.11111111,
        518074.11111111,  363333.22222222,  723880.55555556,
        468611.11111111,  511388.88888889,  374111.        ,
        894330.55555556,  543277.77777778,  311216.66666667,
        366222.22222222,  330272.22222222,  310666.66666667,
        445820.88888889,  481296.33333333,  274632.22222222,
       1081658.33333333,  287800.        ,  993833.33333333,
        392688.88888889,  456700.        ,  361272.22222222,
        431105.55555556,  514833.33333333,  680055.55555556,
        665444.44444444,  481071.66666667,  602176.44444444,
        389594.44444444,  405911.11111111,  305883.33333333,
        303111.11111111, 1343611.11111111,  780082.33333333,
        655944.44444444,  358988.88888889,  246972.22222222,
        318690.55555556,  519444.44444444,  435500.        ,
       1627222.22222222, 1497222.22222222,  354361.11111111,
        442666.55555556,  819755.55555556,  294716.66666667,
        332830.88888889,  416577.77777778,  531833.33333333,
        600888.88888889,  628922.22222222,  381499.88888889,
        457222.22222222,  356666.66666667,  367777.77777778,
        465666.66666667,  313744.44444444,  365555.55555556])

In [32]:
y_test

375      730000.0
1024     446450.0
218     1070000.0
194      230000.0
1198     277000.0
          ...
51       345000.0
993      253000.0
32       687500.0
287      405000.0
149      511000.0
Name: Price, Length: 240, dtype: float64

In [33]:
model_KNN.score(x,y)

0.49548231369023976